<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta content="width=device-width, minimum-scale=1" name="viewport" />
        <meta name="description" content="{{ site.description }}"/>
        <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
        <meta property="twitter:creator" content="@abstractcoder" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        <meta property="og:image" content="https://www.gravatar.com/avatar/ad42c31dedc3100ed38b44f0532e6173.png?s=50" />
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:type" content="blog">
        <meta property="og:description" content="{{ site.description }}" />
        <meta property="og:site_name" property="{{ site.name }}" />
        <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml"/>
        <link rel="shortcut icon" href="https://www.gravatar.com/avatar/ad42c31dedc3100ed38b44f0532e6173.png?s=48" />
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
      <div class="container">
        <div class="grid">
          <div class="unit span-grid" style="padding: 20px 0;">
            <h3>
              <a href="/">About</a>
              <a href="/blog/">Blog</a>
            </h3>
          </div>
          <div class="unit two-of-three">
            {{ content }}
          </div>
          <div class="unit one-of-three bio">
            <img class="avatar" src="https://www.gravatar.com/avatar/ad42c31dedc3100ed38b44f0532e6173.png?s=200" alt="Steve Johnson" />
            <h3>Steve Johnson</h3>
            <div>Full Stack Engineer</div>
            <div>Product Developer</div>
            <a href="https://github.com/abstractcoder/">GitHub</a>
            <a href="https://www.linkedin.com/in/abstractcoder/">LinkedIn</a>
            <a href="https://twitter.com/abstractcoder/">Twitter</a>
          </div>
        </div>
      </div>                     
    </body>
</html>
