<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=0" name="viewport" />
        <meta name="description" content="{{ site.description }}"/>
        <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
        <meta property="twitter:creator" content="@abstract_coder" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        <meta property="og:image" content="http://www.gravatar.com/avatar/ad42c31dedc3100ed38b44f0532e6173.png?s=50" />
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:type" content="blog">
        <meta property="og:description" content="{{ site.description }}" />
        <meta property="og:site_name" property="{{ site.name }}" />
        <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml"/>
        <link rel="shortcut icon" href="http://www.gravatar.com/avatar/ad42c31dedc3100ed38b44f0532e6173.png?s=48" />
        <link rel="stylesheet" href="/css/toast.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
      <div class="container">
        <div class="grid">
          <div class="unit span-grid">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <h2 class="subtitle">// Web and Mobile Development Blog</h2>
          </div>
          <div class="unit two-of-three">
  {{ content }}
          </div>
          <div class="unit one-of-three bio">
            <img class="avatar" src="http://www.gravatar.com/avatar/ad42c31dedc3100ed38b44f0532e6173.png?s=70" />
            <h3>Steve Johnson</h3>
            <p>Developer, Designer<br>Product Bootstrapper</p>
            <p>
              <h3>Site</h3>
              <div><a href="/">Home</a></div>
              <div><a href="/web-development-resources">Web Development<br/>Resources</a></div>
            </p>
            <p>
              <h3>Work</h3>
              <div><a href="http://www.logicalengine.com">Logical Engine</a></div>
              <div><a href="http://www.estimaterocket.com">Estimate Rocket</a></div>
              <div><a href="http://www.awesomedash.com">Awesome Dash</a></div>
              <div><a href="http://www.getestimating.com">QSEI</a></div>

            </p>
            <p>
              <h3>Social</h3>
              <div>
                <div><a href="http://twitter.com/abstractcoder/">@abstractcoder</a></div>
                <div><a href="http://github.com/abstractcoder/">GitHub</a></div>
                <div><a href="http://www.linkedin.com/in/abstractcoder/">LinkedIn</a></div>
              </div>
            </p>
          </div>
        </div>
      </div>
      <script type="text/javascript">
          var disqus_shortname = 'abstract-coder'; // required: replace example with your forum shortname
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
          
          (function () {
              var s = document.createElement('script'); s.async = true;
              s.type = 'text/javascript';
              s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
              (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
          }());
      </script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27114611-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    </body>
</html>
